.container {
  position: relative;
}
.box {
  position: absolute;
  padding: 0 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  margin-top: 59px;
}
#backBtn {
  width: 6.585px;
  height: 12.978px;
  align-self: flex-start;
  cursor: pointer;
}

/* 회원가입 중 상단 상태바  */

.top-box {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 23px;
}

/* 상단 멘트 */

.intro-ment {
  box-sizing: border-box;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#first-ment {
  color: #353e4b;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#second-ment {
  color: #5d6673;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* 선택하기 */
form {
  width: auto;
  max-height: 70vh;
}
.click-wrap {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  padding-right: 26.5px;
}

.click-wrap label:nth-child(5) {
  grid-column: 1 / -1;
  justify-self: center;
}

.click-box {
  width: 148px;
  height: 138px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #e8e9ed;
  background: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 22px 10px;
  cursor: pointer;
}

.click-box:hover {
  border: 2px solid #b166f8;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #faf6ff;
}
.clicked {
  border: 2px solid #b166f8;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #faf6ff;
}
.region {
  color: #9334e9;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.descript-box {
  position: relative;
  width: 100px;
  height: 90px;
  box-sizing: border-box;
  padding-left: 5px;
}
.descript {
  color: #5d6673;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.check-btn {
  text-align: right;
}
.checkImage {
  width: 24px;
  height: 24px;
  text-align: right;
  position: absolute;
  cursor: pointer;
}
.common-btn {
  box-sizing: border-box;
  position: absolute;
  margin-top: 25px;
}
