.box {
  padding: 0 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
}
#backBtn {
  width: 6.585px;
  height: 12.978px;
  align-self: flex-start;
  cursor: pointer;
}

/* 상단 멘트 */

.intro-ment {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 19px;
  box-sizing: border-box;
  margin-top: 43.02px;
  margin-bottom: 50px;
}

.first-intro {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.second-intro {
  color: #5d6673;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* 입력받기 */
form {
  height: 70vh;
}
#input-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
label {
  color: #353e4b;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-layout {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  width: 337px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 2px solid #e8e9ed;
  background: #fff;
}

.checkBtn {
  width: 63px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #e8e9ed;
  color: #353e4b;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* 성별확인 */
.check-gen-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.gen-label {
  align-self: flex-start;
  margin-bottom: 4px;
}
.check-gen {
  padding: 15px 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 336px;
  height: 127px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #fbcfe8;
  background: #fdf2f8;
}
.aler-ment {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #be195d;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 3px;
}
.in-right {
  box-sizing: border-box;
  margin-bottom: 40px;
}
.in-left {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.gender-femail {
  display: inline;
  color: #374151;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 15px;
}

.checkbox {
  width: 16px;
  height: 17px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0.5px solid #bbb;
  background: #fff;
  appearance: checkbox;
}

.gender-femail {
  display: flex;
  align-items: center;
  gap: 8px;
}

#next-btn {
  width: 337px;          /* 입력칸과 맞춤 */
  height: 44px;
  margin-top: 30px;
  border: none;
  border-radius: 7px;
  background-color: #9334e9;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  /* position: absolute;  제거 */
}