<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'places:create_review' place.id %}">
        <h2>{{ place.name }}</h2>
        <p>{{ place.region }}</p>
        
        <hr>

        {% csrf_token %}
        평점 - <input type="number" name="rating" min="1" max="5" step="1" required><br>
        내용 - <textarea name="comment" cols="30" rows="5"></textarea><br>
        <button type="submit">등록하기</button>
</body>
</html>