<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'places:recommend_places' %}">←</a>
    <h2>{{ place.emoji }} {{ place.name }}</h2>
    <h3>{{ place.address }}</h3>
    <h3><h3>{{ place.get_emotion_display }} × {{ place.get_activity_level_display }} × {{ place.get_region_display }}</h3>
</h3>
    <p>{{ place.description|linebreaks }}</p>
    <a href="{% url 'places:create_review' place.id %}">여정 기록하기</a>
    <br><br>
    ((장소 이미지 삽입 가능합니다))

    <hr>

    <h2>나의 여정 기록</h2>
    {% for review in reviews %}
        <p>⭐{{ review.rating|floatformat:1 }}</p>
        <p>{{ review.comment|linebreaks }}</p>
        <p>{{ review.created_at|date:"Y-m-d" }}</p>
        {% if review.image %}
            <img width="320" height="240" src="{{ review.image.url }}"><br>
        {% endif %}
            <a href="{% url 'places:update_review' review.id %}">수정하기</a>
            <a href="{% url 'places:delete_review' review.id %}">삭제하기</a><br>
        <hr>
    {% empty %}
        <p>아직 리뷰가 없습니다.</p>
    {% endfor %}

    <br><br>

    <a href ="{% url 'places:main' %}">홈 </a>
    탐험 
    <a href ="">여정 </a>
    <a href ="{% url 'accounts:mypage' %}">마이 </a>
</body>
</html>