<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'places:main' %}">←</a>
    <h2>추천 장소</h2>
{{ request.user.userprofile.get_emotion_display }} × {{ request.user.userprofile.get_activity_level_display }} × {{ request.user.userprofile.get_region_display }}

    <form method="get" onchange="this.submit()">
        <label for="category">카테고리: </label>
        <select name="category" id="category">
            <option value="전체" {% if selected_category == '전체' %}selected{% endif %}>전체</option>
            <option value="자연" {% if selected_category == '자연' %}selected{% endif %}>자연</option>
            <option value="카페" {% if selected_category == '카페' %}selected{% endif %}>카페</option>
            <option value="전시" {% if selected_category == '전시' %}selected{% endif %}>전시</option>
            <option value="책방" {% if selected_category == '책방' %}selected{% endif %}>책방</option>
        </select>
    </form>

    <br><hr>

    {% for place in recommended_places %}
        <h3><a href="{% url 'places:detail_place' place.id %}">{{ place.emoji }} {{ place.name }}</a></h3>
        <p>{{ place.get_category_display }} | {{ place.tags }}</p>
        <p>{{ place.summary }}</p>
        <p>{{ place.address }}</p>
        <a href="{% url 'places:create_review' place.id %}">리뷰 작성하기</a><hr>
    {% empty %}
        <p>추천할 장소가 없습니다.</p><hr>
    {% endfor %}

    <br><br>

    <a href="{% url 'places:main' %}">홈 </a>
    탐험 
    <a href="">여정 </a>
    <a href="{% url 'accounts:mypage' %}">마이 </a>
</body>
</html>