{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>모달창</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/section/suggestCourse.css' %}" />
    <script src="{% static 'assets/js/modal.js' %}" defer></script>
</head>
<body>
    <div id="wrap" class="container">
        <div class="modal hidden" id="reviewModal">
            <div class="modal-content">
                <form method="post" action="{% url 'journeys:create_place_review' place.id %}">
                    {% csrf_token %}

                    <div class="modal-header">
                        <h3 class="modal-title">{{ place.name }}</h3>
                        <span class="close-btn" onclick="closeModal()">&times;</span>
                    </div>
                    <p class="region">{{ place.get_region_display }}</p>

                    <div class="rating-section">
                        <div class="rating-label">만족도</div>
                        <div class="stars">
                            <input type="hidden" name="rating" id="rating" required />
                            {% for i in "12345" %}
                            <img src="{% static 'assets/img/star-outline2.svg' %}" alt="별{{ i }}" class="star"
                                data-value="{{ forloop.counter }}" />
                            {% endfor %}
                        </div>
                    </div>

                    <div class="dropdown-section">
                        <label class="review-label">감정 기록</label>
                        <div class="dropdown">
                            <div class="dropdown-selected">
                                다녀온 후에 어떤 기분이셨나요?
                            </div>
                            <ul class="dropdown-options hidden">
                                {% for value, display in emotion_choices %}
                                <li data-value="{{ value }}">{{ display }}</li>
                                {% endfor %}
                            </ul>
                            <input type="hidden" id="feeling" name="emotion" required />
                        </div>
                    </div>

                    <div class="review-section">
                        <label class="review-label">자세한 여정 기록</label>
                        <textarea id="review-text" name="comment" rows="4"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="submit-btn" id="submitBtn" disabled>
                            여정 기록 저장하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>