@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
    --mainfont: "pretendard";

    --main: #9334E9;
    --highlight: #B116F8;
    --subcolor: #F4EAFF;
    --lightpurple: #ECDAFF;
    --background: #FAFAFB;
    
    --black: #353E4B;
    --lightblack: #6B7280;
    --deepgray: #5D6673;
    --lightgray: #E8E9ED;
    --icongray: #ADADAD;
    --white: #FFFFFF;

    --red: #BE195D;
    --lightred: #FBCFE8;
    --lightyellow: #FEFCE8;
    --brown: #A16207;
    --blue: #2463EB;
    --lightblue: #DBE9FE;

    --none: #00000000;

    color: var(--main);
    font-family: var(--mainfont);
    font-size: 24px;
    line-height: 17;
    font-weight: 500;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}